@using Explora.Enums; 
@model Explora.Web.Models.FileEditViewModel

@{
    ViewData["Title"] = "Editar Modelo 3D";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}


<div class="row">
    <div class="col-lg-12 grid-margin">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb bg-transparent p-0 mt-1 mb-0">
                <li class="breadcrumb-item" aria-current="page">Modelos 3D</li>
                <li class="breadcrumb-item active" aria-current="page">@Html.DisplayFor(model => model.ScientificName)</li>
            </ol>
        </nav>
    </div>
</div>

<div class="row">
    <div class="col-1 text-left">
        <a class="btn btn-primary botonVolver" asp-action="Index" role="button"><</a>
    </div>
    <div class="col-7 text-left">
        <h1 class="card-title crear">@Html.DisplayFor(model => model.ScientificName)</h1>
    </div>
</div>

@using (Html.BeginForm("Update", "Files", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="row">
        <div class="col-lg-8 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <div class="float-chart-container">
                        <div class="form-group">
                            <label>NOMBRE</label>
                            <input type="text" asp-for="@Model.ScientificName" required class="form-control" name="scientificName">
                            <input name="id" hidden value="@Model.Id" />
                        </div>
                        <div class="form-group">
                            <label>DESCRIPCIÓN</label>
                            <textarea class="form-control" name="description" rows="5">@Html.DisplayFor(model => model.Description)</textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-4 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <fieldset disabled>
                        <div class="form-group">
                            <label for="disabledSelect">COLECCIÓN</label>
                            <select class="form-control">
                                <option>@Html.DisplayFor(model => model.Collection)</option>
                            </select>
                        </div>
                    </fieldset>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-4 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <div class="float-chart-container">
                        <label>ICONO</label>
                        <div class="form-group">
                            <input type="file" class="form-control-file" name="image">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-4 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <div class="float-chart-container">
                        <label>ARCHIVO DISPOSITIVO</label>
                        <div class="form-group">
                            @if (Model.Platform == Platform.Android)
                            {
                                <label class="control-label">@Html.DisplayName("Android")</label>
                            }
                            @if (Model.Platform == Platform.IOs)
                            {
                                <label class="control-label">@Html.DisplayName("IOs")</label>
                            }
                            <input type="file" class="form-control-file" name="file">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12 grid-margin stretch-card">
            <button type="submit" class="btn btn-primary botonAgregar">Guardar</button>
        </div>
    </div>
}